*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'GameShow';
    src: url('content/polices/gameshow/Gameshow.eot'); /* IE9 Compat Modes */
    src: url('content/polices/gameshow/Gameshow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('content/polices/gameshow/Gameshow.woff') format('woff'), /* Modern Browsers */
         url('content/polices/gameshow/Gameshow.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('content/polices/gameshow/Gameshow.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*MEDIA SECTION*/

@media only screen and (min-width: 1921px) {
    .navitem img{
        width: 55%;
    }
}

/*NAVBAR SECTION*/ 
body{
    display: flex;
    background-image: url("content/images/background-texture.png");
    background-repeat: repeat;
    background-color: #3D4424;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-image: url("content/images/Illustration_sans_titre.png");
    background-size: cover;
    background-repeat: repeat-y;
    top: 0;
    left: 0;
    width: 8%;
    height: 100%;
}

.navitem{
    display: flex;
    width: 100%;
    padding-top: 20%;
    height: auto;
}

.navitem img{
    width: 75%;
    margin: auto;
}

.loginitem{
    margin-top: auto;
    margin-bottom: 10%;
}


/*TITLE SECTION*/ 
.title{
    width: 100%;
    height: auto;
}

.title span:first-child{
    display: flex;
    font-family: 'GameShow', Arial, sans-serif;
    font-size: 3vw; 
    color: #00340F;
    line-height: 0.75;
}

.title span:last-child{
    display: flex;
    font-family: 'GameShow', Arial, sans-serif;
    font-size: 3vw; 
    color: yellow;
    margin-bottom: 1.5%;
    line-height: 0.75;
}

/*CONTENT SECTION*/
.content{
    display: inline-block;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    height: auto;
}
.section{
    display: flex;
    padding: 10px;
    border-radius: 5px 5px 2px 2px;
    font-size: 1vw;
    color: white;
    background-color: #292929;
    padding: 1%;
    width: 100%;
    height: auto;
}
