:root {
    --cardMargin: 16px;
    --cardWidth: 370px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'GameShow';
    src: url('content/polices/gameshow/Gameshow.eot'); /* IE9 Compat Modes */
    src: url('content/polices/gameshow/Gameshow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('content/polices/gameshow/Gameshow.woff') format('woff'), /* Modern Browsers */
         url('content/polices/gameshow/Gameshow.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('content/polices/gameshow/Gameshow.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/*NAVBAR SECTION*/ 
body{
    display: flex;
    background-image: url("content/images/background-texture.png");
    background-repeat: repeat;
    background-color: #3D4424;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color: #00340F;
    background-size: cover;
    background-repeat: repeat-y;
    top: 0;
    left: 0;
    width: 130px;
    height: 100%;
}

.navitem{
    display: flex;
    width: 100%;
    padding-top: 20%;
    height: auto;
}

.navitem img{
    width: 75%;
    margin: auto;
}

.loginitem{
    margin-top: auto;
    margin-bottom: 10%;
}


/*TITLE SECTION*/ 
.title{
    width: 100%;
    height: auto;
}

.title span:first-child{
    display: flex;
    font-family: 'GameShow', Arial, sans-serif;
    font-size: 60px; 
    color: #00340F;
    line-height: 0.75;
}

.title span:last-child{
    display: flex;
    font-family: 'GameShow', Arial, sans-serif;
    font-size: 60px; 
    color: yellow;
    margin-bottom: 1.5%;
    line-height: 0.75;
}

.boxtitle{
    display: flex;
    align-items: center;
    width: 100%;
}

.boxtitle span{
    margin-top: 2px;
    margin-left: 10px;
}

/*CONTENT SECTION*/
.content{
    display: inline-block;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%
    
}
.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 2px 2px;
    color: white;
    background-color: #292929;
    padding: 1%;
    height: auto;
}

.boxcontent p {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}


.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: var(--cardMargin);
    width: var(--cardWidth);
    height: auto;
    border-radius: 8px;
    padding: 10px;
    color: #292929;
    background: #2D6D33;
    box-sizing: border-box;
    text-align: justify;
}

.card p{
    color: white;
    margin-top: 15px;
    line-height: 1.3em;
}

/*IMAGE SECTION*/
.warning{
    width: 25px;
    height: auto;
}

.card img{
    width: 350px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 7px;
}

.infobutton{
    width: 30px !important;
    float: right;
    margin-top: auto;
}


